# ---- Visual Studio 自动生成的缓存（体积最大，必须排除）----
.vs/
*.vsidx
*.suo
*.ipch
*.db
*.opendb

# ---- 编译产物 ----
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.pch
*.exp
*.lib
*.out
*.o

# ---- VS 工程文件（只上传 .c 源码，工程文件由 VS 自动生成，不必上传）----
*.slnx
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# ---- 编辑器配置（只对你本机有意义）----
.vscode/

# ---- 个人配置文件 ----
*.aps
*.ncb
*.sdf
*.user

# ---- 系统文件 ----
Thumbs.db
desktop.ini
~$*
