# ---- Visual Studio 自动生成的缓存（体积最大，必须排除）----
.vs/
*.vsidx
*.suo
*.ipch
*.db
*.opendb

# ---- 编译产物 ----
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
*.idb
*.pch
*.exp
*.lib
*.out
*.o

# ---- 个人配置文件（只对你本机有意义）----
*.vcxproj.user
*.aps
*.ncb
*.sdf
*.user

# ---- 系统文件 ----
Thumbs.db
desktop.ini
~$*
